@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* .animation-hover {
  height: 2px;
  transition: all .5s;
  @apply absolute w-0 left-1/2 bg-Lime-Green bottom-0
} */

.animation-hover:after{
  @apply absolute content-[''] w-0 hover:w-full h-[2px] bottom-[-10px] left-1/2 hover:left-0 bg-Lime-Green duration-500
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

